<div class="row">
    <div class="col-2 m-2">
        <img src="user-profile.png" alt="User Profile" style="width: 60px;">
    </div>
    <div class="col-9">
        <span class="h3">{{data.profileName}}</span>
        <div>
            <span class="mr-3">{{data.registeredDate | date:'fullDate'}}</span>
            <span>{{data.isFriend ? "Friend" : "Add Friend"}}</span>
        </div>
    </div>
</div>
<div class="row">
    <app-ag-grid 
    gridLabel="Game History" 
    [data]="games" 
    [columnDefs]="columns"
    ></app-ag-grid>
</div>
