<div>
    <h2>Chess Game</h2>
    <!-- <p>{{ this.getAscii() }}</p> -->
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-5" id="chess-board" style="height: 600px;">

        </div>
        <div class="col-3">
            <button class="m-2 btn btn-warning" (click)="this.undoMove()">Undo Move</button>
            <button class="m-2 btn btn-warning" (click)="this.resetGame()">Reset Game</button>
            <button class="m-2 btn btn-info" (click)="toggleOrientation()">Rotate board</button>
            
            <p *ngIf="this.gameOver()">Game Over!</p>
        </div>
    </div>
  </div>